extends layout

block content
  h1= titulo

  div(class="col-md-4")
    h2 Crear tenant

    form(action="/tenants/create", method="post", class="well")
      div(class="form-group")
        label(for="email")
          | Email
        input(type="text", name="email", class="form-control")
      input(type="submit" class="btn btn-default")

  div(class="col-md-6")
    h2 Clientes por tenant

    ul
    each tenant in tenants
      li
        strong
          = tenant.email + "(" + tenant.id + ")"
        | &nbsp;
        a(href="/tenants/" + tenant.id + "/destroy", class="btn btn-xs btn-warning") borrar
        ul
          li
            | Crear cliente
            form(action="/tenants/" + tenant.id + "/customers/create", method="post", class="form-inline")
              div(class="form-group")
                input(type="text", name="nombre_completo", class="input-sm form-control")
                input(type="text", name="rut", class="input-sm form-control")
                input(type="submit", class="btn btn-sm btn-default")
          each cliente in tenant.Customers
            li
              p
                strong
                  = cliente.nombre_completo + "(" + cliente.id + ")"
              p
                = cliente.rut
              | &nbsp;
              a(href="/tenants/" + tenant.id + "/customers/" + cliente.id + "/destroy",  class="btn btn-xs btn-warning") borrar
