doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='javascript' href='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    if flash
      p.bg-danger= flash
    block content