extends layout

block content
  h1= titulo

  div(class="col-md-10")
    if tenant.Customers.length == 0
      h2 
        = tenant.email 
        |&nbsp; no tiene clientes
    else
      h2 Clientes por tenant

    ul
      each cliente in tenant.Customers
        li
          p
            strong
              = cliente.nombre_completo + "(" + cliente.id + ")"
          p
            = cliente.rut
            | &nbsp;
            a(href="/tenants/" + tenant.id + "/customers/" + cliente.id + "/destroy?return_to_tenant_view=1",  class="btn btn-xs btn-warning") borrar
