extends layout

block content
  h1= titulo

  div(class="col-md-10")
    h2 
      = "Clientes de " + tenant.email

    ul
      each cliente in tenant.Customers
        li
          p
            strong
              = cliente.nombre_completo + "(" + cliente.id + ")"
          p
            = cliente.rut
